@import url("https://fonts.googleapis.com/css?family=Allura|Josefin+Sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin-top: 10%;
}

.wrapper h1 {
  color: rgb(0, 0, 0);
  font-size: 50px;
  margin-bottom: 0px;
  text-align: center;
}

.team {
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member {
  background: #dcd8d8;
  margin: 120px;
  margin-bottom: 40px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #060606;
  position: relative;
}

.team .team_member h3 {
  color: #81c644;
  font-size: 20px;
  margin-top: 50px;
}

.team .team_member p.role {
  color: #000000;
  margin: 15px 0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.team .team_member .team_img img {
  width: 180px;
  height: 180px;
  padding: 5px;
}